.fade {
  transition: all 0.5s;
  background:green;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s ease;
}
.fade-enter, .fade-leave-to
  /* .fade-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: scale(0);
}